<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title >Slacker News</title>

    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <div class = "top_container">
      <div class = "nav_bar_left">
        <ul class = "nav_list">
          <li><a href = "http://ycombinator.com/" class = "top_links"><img src= "/images/y18.gif" id = "img"/></a></li>
          <li><a href = "/"><b>Hacker News </b></a></li>
          <li><a href = "/"> new </a> | </li>
          <li><a href = "/comments"> comments </a> | </li>
          <li><a href = "https://news.ycombinator.com/ask"> ask </a> | </li>
          <li><a href = "https://news.ycombinator.com/jobs"> jobs </a> | </li>
          <li><a href = "/submit"> submit </a></li>
        </ul>
      </div>
      <div class = "login">
          <a href = "https://news.ycombinator.com/newslogin?whence=news">log in</a></li>
      </div>
    </div>
    <div class = "main_body">
      <%= yield %>
    </div>

    </div>
  </body>
</html>
